@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #f9fafb;
    --color-zinc-100: #f3f4f6;
    --color-zinc-200: #e5e7eb;
    --color-zinc-300: #d1d5db;
    --color-zinc-400: #9ca3af;
    --color-zinc-500: #6b7280;
    --color-zinc-600: #4b5563;
    --color-zinc-700: #374151;
    --color-zinc-800: #1f2937;
    --color-zinc-900: #111827;
    --color-zinc-950: #0b0f19;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

.flux-navlist-item-active {
    background-color: #2B7FFF !important; /* zinc-200 */
    color: #ffffff !important; /* zinc-900 */
    font-weight: 600 !important;
}
.dark .flux-navlist-item-active {
    background-color: #374151 !important; /* zinc-700 */
    color: #ffffff !important;
}

